@media only screen and (max-width: 23.4375rem) {
  body {
    font-size: medium;
  }

  nav {
    align-items: baseline;
    height: 4rem;
  }
  
  .title {
    font-size: 1.5rem;
  }

  .avatar {
    height: 12.5rem;
    padding-bottom: 1.875rem;
  }

  .avatar img {
    margin: 2.5rem 0rem 0rem 0rem;
    height: 8.125rem;
  }
}

@media only screen and (max-width: 63.9375rem) {
  nav {
    position: relative;
    background-color: #fade2a;
    background-image: url("https://www.transparenttextures.com/patterns/wall-4-light.png");
  }
  .avatar {
    margin-top: 0rem;
  }
}

@media only screen and (min-width: 64rem)  {
  .avatar {
    width: 40%;
    position: fixed;
    top: 8.4375rem;
    left: 2.8125rem;
  }

  .container {
    width: 50%;
    position: absolute;
    right: -1.6875rem;
    top: 9.375rem;
  }
}