nav {
  position: fixed;
  top: 0;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #ffffff;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
}

.title {
  font-family: 'Bungee', cursive;
  font-size: 40px;
}

.right_p {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-angle-double-down {
  color: rgb(187, 38, 38);
}