form {
  display: flex;
  flex-direction: column;
}

#tweet-text {
  outline: none;
  resize: none;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  background: transparent;
  border-bottom: medium solid #545149;
  padding-top: 1.25rem;
}

.button_counter {
  padding-top: .5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  font-family: 'Bungee', cursive;
}

.new-tweet label {
  padding-top: 1.25rem;
  font-weight: bold;
}
.tweet {
  background-color: #4056A1;
  color: white;
  cursor: pointer;
}

article {
  margin-top: 4.375rem;
  padding: 2.5rem;
  border: solid #545149;
}

.tweets-post:hover {
  box-shadow: 0.625rem 0.625rem grey;
}
.feed-header {
  display: flex;
  justify-content: space-between;
}

.profile-pic {
  display: flex;
}

.profile-name {
  padding-left: 1.25rem;
}

.profile-handle {
  color: darkgrey;
}
.post {
  padding: 0 1.25rem 0 1.25rem; 
  word-break: break-all;
}

.feed-footer {
  border-top: solid black;
  padding: 0 1.25rem 0 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9375rem;
}

.footer-icons {
  color: #4056A1;
}

i:hover {
  color: darkkhaki;
}

.error {
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: thick solid red;
  margin: 1.25rem 0rem 0rem 0rem;
  padding: 0rem 1.875rem 0rem 1.875rem;
  color: red;
}


